@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Mona Sans';
    src: url('../public/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../public/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Great Sailor';
    src: url('../public/fonts/Great Sailor.otf') format('otf'),
    url('../public/fonts/Great Sailor.otf') format('otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Diamond Bridge';
    src: url('../public/fonts/DiamondBridge-Regular.eot');
    src: local('DiamondBridge-Regular'),
    url('../public/fonts/DiamondBridge-Regular.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/DiamondBridge-Regular.woff2') format('woff2'),
    url('../public/fonts/DiamondBridge-Regular.woff') format('woff'),
    url('../public/fonts/DiamondBridge-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



